Thumbs.db
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.sln.docstates
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
[Bb]in/*
[Dd]ebug*/
*.lib
*.sbr
obj/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
/Logs/
/aspnet_client/
*.[Pp]ublish.xml
/cocktail-recipes.txt
Web.Debug.config
Web.Release.config
/My Project/
/Cocktail UK Old.vbproj
/includes/header.asp
/includes/footer.asp
/includes/shop/categories*
/shop/products/*
/products.txt
.htaccess
