BODY {
	font-family: Verdana;
	font-size: 10pt;
	color: 000000;
	margin-top: 90 px;
	background-image: url('http://www.cocktail.uk.com/images/template/cuk_logo_banner.gif');
	background-position:  left top;
	background-repeat: no-repeat
}
font, p, div {
	FONT-SIZE: 11px; COLOR: #000000; FONT-FAMILY: Verdana, Helvetica, Arial, sans-serif
}
A {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #6699cc; FONT-FAMILY: Verdana, Helvetica, Arial, sans-serif; TEXT-DECORATION: none
}
A:hover {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #FF9900; FONT-FAMILY: Verdana, Helvetica, Arial, sans-serif; TEXT-DECORATION: underline
}
.header {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #6699cc; FONT-FAMILY: Verdana, Helvetica, Arial, sans-serif
}
H2 { 
	TEXT-ALIGN: left;
	background-image: url('http://www.cocktail.uk.com/images/template/cocktail_uk_content_header.gif');
	background-repeat: repeat-y;
	background-position: top right; 
	padding-left: 10px; 
	padding-top: 2px; 
	padding-bottom: 2px; 
	width: 100%;
	COLOR: #612B83;
	FONT-SIZE: 16pt; 
} 