BODY {
	background-color: #828282;
}
H1, H2, H3, H4, H5, H6 {
	COLOR: #636388;
	font-weight: normal;
}
h1, h2 {
	TEXT-ALIGN: left;
	padding-top: 5px; 
	padding-bottom: 5px;
	COLOR: #545473; 
	margin-top: 0px;
	margin-bottom: 5px;
	text-transform: capitalize;
} 
h3 {
	padding-top: 10px;
	padding-bottom: 3px;
	COLOR: #545473;
	font-weight: normal;
	margin-bottom: 0px;
} 
.wrapper
{
	margin: 0px auto;
	max-width: 1000px;
	POSITION: relative;
	BACKGROUND-COLOR: white; 
	border: #636388 1px solid;
	border-top-width: 0px;
}
#header
{
	max-height: 85px;
}
	#header .columns
	{
		height: 85px;
		vertical-align: middle;
	}
	#header #search_form {
		margin-top: 1.6em;
	}
	#header #basket {
		margin-top: 1.6em;
		width: 70%;
		float: right;
	}
#topads
{
	margin-bottom: 20px;
}
#leftnav {
	padding-bottom: 20px;
}
#leftnav .item {
	padding: 4px 13px;
}
#leftnav .item a {
	COLOR: #444444;
}
	#leftnav .item A.disabled{
		color: #999999;
		text-decoration: none;
		cursor: not-allowed;
	}
#leftnav .menu-header {
	padding-top: 2em;
}
#leftnav .menu-header:first-child {
	padding-top: 0em;
}
#leftnav .menu-header img {
	width: 80%;
}
#content {
	padding-right: 15px;
	padding-bottom: 20px;
}
.footer {
	color: white;
	padding-bottom: 20px;
}
.skyscraper
{ 
	z-index: -100;
	position: fixed;
	right: 5px;
	top: 10px;
} 
.breadcrumb 
{
	line-height: 40px;
	OVERFLOW: hidden;
	TEXT-OVERFLOW: ellipsis;
	TEXT-DECORATION: none;
	HEIGHT: 40px;
	color: #999999;
	font-size: 10pt;
}
	.breadcrumb a 
	{
		color: #999999;
	}
iframe, iframe img {
	max-width: 100%;
}







.shopoption
{
	FONT-WEIGHT: bold;
	COLOR: #AA0000; 
	TEXT-ALIGN: left;
	height: 22px;
	width: 310px; 
}
.shopoptioncats
{
	FONT-WEIGHT: bold;
	COLOR: #AA0000; 
	TEXT-ALIGN: left;
	height: 22px;
	width: 210px; 
}
.fieldsetshop
{
	border:0px solid #800080;
	padding:2px;
}
.shopheadertitle
{
	background-image: url('http://www.cocktail.uk.com/images/main_menus/blank.gif');
	background-repeat: no-repeat;
	PADDING-TOP: 5px;
	PADDING-LEFT: 30px; 
	width: 100%;
	COLOR: #636388;
	height: 42px;
}
.shoplinebgonly
{
	background-image: url('http://www.cocktail.uk.com/images/main_menus/lineonly.gif');
	background-repeat: no-repeat;
}
.shopgrad
{
	padding-top: 3px;
	padding-bottom: 3px;
	background-image: url('http://www.cocktail.uk.com/images/template/buygrad.gif');
	background-position: top right;
	background-repeat: repeat-y;
	BACKGROUND-COLOR: #FFFFFF;
	BORDER-TOP: 1px solid: #B4AFAC;
}
.price{
	font-size: 140%; 
	color: #AA0000;
} 
#product-versions{
	margin: 5px;
	border: 1px solid #9caad6;
	background-color: #e1e3f2;
}
#pv-title{
	background-color: #636388;
	color: white;
	font-size: 140%;
	padding: 3px 5px; 
	line-height: 1.2;
}
#product-version-container{
	padding: 5px;
}
#product-version{
	padding-top: 2px;
	padding-bottom: 2px;
}
