BODY {
	background-color: #828282;
	FONT-FAMILY: Arial, Helvetica, sans-serif; 
	font-size: 11pt; 
	line-height: 1.5;
	MARGIN: 0px; 
	COLOR: #444444;
}
#search_box {
    width: 350px;
    height: 31px;
    border: 1px solid #636388;
    border-radius: 8px;
}
#SearchField {
    float: left;
    padding: 0px;
    margin: 6px 0px 0px 6px;
    border-width: 0px;
    width: 300px; 
    background: none;
}
#search_box #go {
    float: right;
    margin: 3px 4px 0 0;
}
.nobackground{
	background-image:url('http://www.cocktail.uk.com/images/pixel.gif');
	background-color: white;
}
H1, H2, H3, H4, H5, H6 {
	COLOR: #636388;
	FONT-FAMILY: Arial, Helvetica, sans-serif; 
}
h1, h2 {
	line-height: 1.2;
	TEXT-ALIGN: left;
	padding-top: 5px; 
	padding-bottom: 5px;
	COLOR: #545473; 
	FONT-SIZE: 30pt;  
	margin-top: 0px;
	margin-bottom: 5px;
	font-weight: normal;
	text-transform: capitalize;
} 
h3 {
	line-height: 1.2;
	padding-top: 10px;
	padding-bottom: 3px;
	COLOR: #545473;
	FONT-SIZE: 16pt;
	font-weight: normal;
	margin-bottom: 0px;
} 
A{
	text-decoration: underline;
	color: #201460;
}
A.disabled{
	color: #999999;
	text-decoration: none;
	cursor: not-allowed;
}
TABLE, TR, TD {
	FONT-FAMILY: Arial, Helvetica, sans-serif; 
	FONT-SIZE: 11pt; 
	LINE-HEIGHT: 1.5; 
	COLOR: #444444; 
}
.largetext{
	FONT-FAMILY: Arial, Helvetica, sans-serif; 
	FONT-SIZE: 14px; 
	COLOR: #444444; 
}
.wrapper
{
	margin: 0px auto;
	width: 1000px;
	POSITION: relative;
	BACKGROUND-COLOR: white; 
	border: #636388 1px solid;
	border-top-width: 0px;
}
.header
{
	display: block;
}
	.header .topads
	{
		margin: 0px 0px 10px 15px;
		max-height: 70px;
		overflow: hidden;
	}
	.header .topads .ad1, 
	.header .topads .ad2
	{
		height: 60px;
		display: inline-block;
		width: 49.7%;
	}
.leftnav {
	display: inline-block;
	vertical-align: top;
	width: 20%; 
	text-align: left;
	padding-bottom: 10px; 
}
	.leftnav .item {
		display: block;
		padding: 4px 13px;
	}
	.leftnav .menu-header {
		padding-top: 2em;
	}
	.leftnav .menu-header:first-child {
		padding-top: 0em;
	}
	.leftnav .menu-header img {
		width: 100%;
	}
.content {
	display: inline-block;
	width: 79%;
	vertical-align: top;
	text-align: left;
}
.content .padded {
	padding: 0px 10px 80px 10px;
}
.footer {
	color: white;
	padding-bottom: 20px;
}
.skyscraper
{ 
	z-index: -100;
	position: fixed;
	right: 5px;
	top: 10px;
} 
.breadcrumb 
{
	line-height: 40px;
	OVERFLOW: hidden;
	TEXT-OVERFLOW: ellipsis;
	TEXT-DECORATION: none;
	HEIGHT: 40px;
	color: #999999;
	font-size: 10pt;
}
	.breadcrumb a 
	{
		color: #999999;
	}
.linksin { 
	FONT-FAMILY: Arial, Helvetica, sans-serif;
	font-size: 11pt; 
	line-height: 1.3;
	COLOR: #444444;
	TEXT-DECORATION: none;
}
A:hover {
	COLOR: #AA0000;
}
.shopoption
{
	FONT-SIZE: 12px;
	FONT-WEIGHT: bold;
	COLOR: #AA0000; 
	TEXT-ALIGN: left;
	height: 22px;
	width: 310px; 
}
.shopoptioncats
{
	FONT-SIZE: 12px;
	FONT-WEIGHT: bold;
	COLOR: #AA0000; 
	TEXT-ALIGN: left;
	height: 22px;
	width: 210px; 
}
.fieldsetshop
{
	border:0px solid #800080;
	padding:2px;
}
.shopheadertitle
{
	background-image: url('http://www.cocktail.uk.com/images/main_menus/blank.gif');
	background-repeat: no-repeat;
	PADDING-TOP: 5px;
	PADDING-LEFT: 30px; 
	width: 100%;
	COLOR: #636388;
	height: 42px;
	FONT-SIZE: 12pt;
}
.shoplinebgonly
{
	background-image: url('http://www.cocktail.uk.com/images/main_menus/lineonly.gif');
	background-repeat: no-repeat;
	FONT-SIZE: 10px; COLOR: #003366;
}
.shopgrad
{
	padding-top: 3px;
	padding-bottom: 3px;
	background-image: url('http://www.cocktail.uk.com/images/template/buygrad.gif');
	background-position: top right;
	background-repeat: repeat-y;
	BACKGROUND-COLOR: #FFFFFF;
	BORDER-TOP: 1px solid: #B4AFAC;
}
.contentHeader {
	FONT-SIZE: 10pt;
}
.arrowblock {
	BACKGROUND-COLOR: #636388;
	background-image: url('http://www.cocktail.uk.com/images/generic_whitearrow.gif');
	background-position:   center;
	background-repeat: no-repeat;
}
@media all {
 ul { margin-top: 0; }
 ul { margin-left: 5px; }
 li { margin-left: 1em; }
}
.nodisplay
{
 display: none;
}
.button
{
	BACKGROUND-COLOR: #636388;
	background-image: url('http://www.cocktail.uk.com/images/breadcrumbbg.gif');
	background-repeat: repeat-x;
	color: #FFFFFF; 
	font-weight: bold; 
	BORDER: 1px solid #636388;
}
.tabnav {
	height: 20px;	
	margin: 0;	
	padding-left: 4px;
}
.tabnav li {
	margin: 0; 
	padding: 0;
	display: inline;	
	list-style-type: none;
}
.tabnav a:visited {	
	float: left;
	background: #E5E5E5;
	font-size: 12px;	
	line-height: 18px;	
	font-weight: bold; 
	padding: 2px 10px 2px 10px;
	margin-right: 4px;	
	border: 1px solid #aaaaaa;	
	border-bottom-width: 0px;	
	text-decoration: none;	
	color: #666666;
}
.tabnav a:link {	
	float: left;
	background: #E5E5E5;
	font-size: 12px;	
	line-height: 18px;	
	font-weight: bold; 
	padding: 2px 10px 2px 10px;
	margin-right: 4px;	
	border: 1px solid #aaaaaa;	
	border-bottom-width: 0px;	
	text-decoration: none;	
	color: #666666;
}
.tabnav a:visited.active {
	border-bottom-width: 0px;
	background: #ffffff;	
	color: #114477;
}
.tabnav a:link.active {
	border-bottom-width: 0px;
	background: #ffffff;	
	color: #114477;
}
.tabnav a:hover	{
	background: #ffffff;
}
.niceborder
{
	border: 1px solid #1F4B94;
	border-collapse: collapse;
}
.niceborder TH
{
	background-image: url('http://www.drinkstuff.com/img/newtemplate/bluegradbg.gif');
	background-repeat: repeat-x;
	background-position: top left;
	border: 1px solid #1F4B94;
	border-collapse: collapse;
	COLOR: #FFFFFF;
	HEIGHT: 25px;
}

.nicebgandborderred
{
	border: 1px solid #a32530;
	border-collapse: collapse;
	background-color: #feedef;
}

.nicebgandborderred TH
{
	background-image: url('http://www.drinkstuff.com/img/newtemplate/redgradbg.gif');
	background-repeat: repeat-x;
	background-position: top left;
	border: 1px solid #a32530;
	border-collapse: collapse;
	COLOR: #FFFFFF;
	HEIGHT: 25px;
}


.nicebgandborder
{
	border: 1px solid #1F4B94;
	border-collapse: collapse;
	background-color: #e9eef8;
}
.nicebgandborder TH
{
	background-image: url('http://www.drinkstuff.com/img/newtemplate/bluegradbg.gif');
	background-repeat: repeat-x;
	background-position: top left;
	border: 1px solid #1F4B94;
	border-collapse: collapse;
	COLOR: #FFFFFF;
	HEIGHT: 25px;
	background-color: #1F4B94;
}
.nicebgandborderrev
{
	border: 1px solid #1F4B94;
	border-collapse: collapse;
}
.price{
	font-size: 140%; 
	color: #AA0000;
} 
#product-versions{
	margin: 5px;
	border: 1px solid #9caad6;
	background-color: #e1e3f2;
}
#pv-title{
	background-color: #636388;
	color: white;
	font-size: 140%;
	padding: 3px 5px; 
	line-height: 1.2;
}
#product-version-container{
	padding: 5px;
}
#product-version{
	padding-top: 2px;
	padding-bottom: 2px;
}


.btn {
    display: inline-block;
    padding: 10px;
    border-radius: 5px; /*optional*/
    color: #aaa;
    font-size: .875em;
}

.pagination {
    background: #f2f2f2;
    padding: 20px;
    margin-bottom: 20px;
}

.page {
    display: inline-block;
    padding: 0px 9px;
    margin-right: 4px;
    border-radius: 3px;
    border: solid 1px #c0c0c0;
    background: #e9e9e9;
    box-shadow: inset 0px 1px 0px rgba(255,255,255, .8), 0px 1px 3px rgba(0,0,0, .1);
    font-size: .875em;
    font-weight: bold;
    text-decoration: none;
    color: #717171;
    text-shadow: 0px 1px 0px rgba(255,255,255, 1);
}

.page:hover, .page.gradient:hover {
    background: #fefefe;
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#FEFEFE), to(#f0f0f0));
    background: -moz-linear-gradient(0% 0% 270deg,#FEFEFE, #f0f0f0);
}

.page.active {
    border: none;
    background: #616161;
    box-shadow: inset 0px 0px 8px rgba(0,0,0, .5), 0px 1px 0px rgba(255,255,255, .8);
    color: #f0f0f0;
    text-shadow: 0px 0px 3px rgba(0,0,0, .5);
}

.page.gradient {
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#f8f8f8), to(#e9e9e9));
    background: -moz-linear-gradient(0% 0% 270deg,#f8f8f8, #e9e9e9);
}

.pagination.dark {
    background: #414449;
    color: #feffff;
}

.page.dark {
    border: solid 1px #32373b;
    background: #3e4347;
    box-shadow: inset 0px 1px 1px rgba(255,255,255, .1), 0px 1px 3px rgba(0,0,0, .1);
    color: #feffff;
    text-shadow: 0px 1px 0px rgba(0,0,0, .5);
}

.page.dark:hover, .page.dark.gradient:hover {
    background: #3d4f5d;
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#547085), to(#3d4f5d));
    background: -moz-linear-gradient(0% 0% 270deg,#547085, #3d4f5d);
}

.page.dark.active {
    border: none;
    background: #2f3237;
    box-shadow: inset 0px 0px 8px rgba(0,0,0, .5), 0px 1px 0px rgba(255,255,255, .1);
}

.page.dark.gradient {
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#565b5f), to(#3e4347));
    background: -moz-linear-gradient(0% 0% 270deg,#565b5f, #3e4347);
}