BODY {
	FONT-FAMILY: Tahoma, Verdana, Arial, Helvetica, sans-serif; 
	font-size: 10pt;
	BACKGROUND-COLOR: #FFFFFF; 
	COLOR: #000000; 
	margin: 2px;
}
h3{
	color: #FFFFFF;
	font-size: 12pt;
	font-weight: bold;
	text-transform: capitalize;
	border-top: 1px #666666 solid;
	border-bottom: 1px #666666 solid; 
	padding: 3px;
	clear: both;
	background-color: #AAAAAA;
}
ul{
	margin-left: 0em;
	padding-left: 1.2em;
}
ul li{
	margin-left: 0em;
	padding-left: 0em;
}
.footerline{
	border-top: 1px dotted #cccccc;
}