<HTML>
<HEAD>
<meta http-equiv=Content-Type content="text/html;  charset=ISO-8859-1">
<TITLE>CUK_flash_module_02</TITLE>
</HEAD>
<BODY bgcolor="#FFFFFF">
<!-- URL's used in the movie-->
<!-- text used in the movie-->
<!--welcome tococktail:ukwelcome tococktail:ukwelcome tococktail:ukwelcome tococktail:ukwelcome tococktail:ukwelcome tococktail:ukwelcome tococktail:ukwelcome tococktail:ukwelcome tococktail:ukwelcome tococktail:ukwelcome tococktail:ukwelcome tococktail:ukwelcome tococktail:ukwelcome tococktail:ukwelcome tococktail:uk--><OBJECT classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000"
 codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=6,0,0,0"
 WIDTH="480" HEIGHT="240" id="CUK_flash_module_02" ALIGN="">
 <PARAM NAME=movie VALUE="CUK_flash_module_02.swf">
 <PARAM NAME=quality VALUE=high>
 <PARAM NAME=bgcolor VALUE=#FFFFFF> 
 <PARAM NAME="flashvars" value="txt01=classic cocktails and shooters&txt02=over 9,500 cocktail receipes&shop01=checkout the shop&drink01=find that drink&comm01=join the cocktail community&members01=enter the members area&shopUrl=/xxxxx/&drinkUrl=/xxxxx/&commUrl=/xxxxx/&membersUrl=/xxxxx/&" />
<EMBED src="CUK_flash_module_02.swf" quality=high bgcolor=#FFFFFF  WIDTH="480" HEIGHT="240" NAME="CUK_flash_module_02" ALIGN=""
 TYPE="application/x-shockwave-flash" PLUGINSPAGE="http://www.macromedia.com/go/getflashplayer"
flashvars="txt01=classic cocktails and shooters&txt02=over 9,500 cocktail receipes&shop01=checkout the shop&drink01=find that drink&comm01=join the cocktail community&members01=enter the members area&shopUrl=/xxxxx/&drinkUrl=/xxxxx/&commUrl=/xxxxx/&membersUrl=/xxxxx/&" />
</OBJECT>
</BODY>
</HTML>
